@import "../variables";

.chart-layout {
  flex-direction: column;
  margin: 2em 0;

  @media (min-width: $lgscreen) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
