.dropdown {
  padding: 0.5em;
  margin-top: 1em;
  border: 1px solid #d3d3d3;
  background-color: #fafafa;
  border-radius: 2px;
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  width: 100%;
}

.dropdown:focus,
.dropdown:active {
  outline: none;
  border: 2px solid #2a9d8f;
}
