.slider {
  width: 80%;
  margin-top: 1.5em;
  -webkit-appearance: none;
}

.slider::-webkit-slider-runnable-track {
  background: #ddd;
  border: none;
  border-radius: 3px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: rgb(42,157,143);
  margin: -4px;
}

.slider:focus {
  outline: none;
}

.slider:focus::-webkit-slider-runnable-track {
  background: #ccc;
}